<h5 class="my-0 mr-md-auto font-weight-normal">Сервис обращений</h5>
<nav class="ms-5">
{% if user.is_authenticated %}
    <p class="card-text" style = "color: #332d9a"></h5>Привет {{user.email}}. Рады что ты с нами!</h5></p>
    <form method="post" action="{% url 'users:logout' %}">
          {% csrf_token %}
          <button class="p-2 btn btn-outline-primary">Выйти</button>
    </form>
{% else %}
    <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}" role="button">Войти</a>
    <a class="p-2 btn btn-outline-primary" href="{% url 'users:registr' %}" role="button">Зарегистрироваться</a>
{% endif %}
</nav>